.header {
	display: flex;
	align-items: center;
	background-color: var(--surface-card);
}

.logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: var(--text-color);
	white-space: nowrap;
}

.logo a i {
	margin-right: 10px;
}

.menu a {
	text-decoration: none;
	color: var(--text-color);
	text-transform: uppercase;
	margin: 0 1rem;
	display: inline;
}

.menu {
	color: var(--text-color);
}

.menu a:last-child {
	margin-right: 0;
}

.menu a:hover,
.logo a:hover,
.menu i:hover {
	color: var(--primary-color);
}
.logo a:hover i {
	color: yellow !important;
}

.p-button {
	color: var(--text-color);
	border: none;
	vertical-align: initial !important;
	background-color: transparent !important;
	padding: 0;
	margin: 0 1rem !important;
	cursor: pointer;
}
.p-button:hover {
	color: var(--primary-color) !important;
}

@media only screen and (max-width: 750px) {
	#search {
		display: none;
	}
}
